<script>
  <% if params[:action] == 'show_pwd' %>
    $(document).ready(function(){
        $("#users_list .pageTurn a").unbind("click");
        $("#users_list .pageTurn a").bind("click", function() {
          alert(1)
            var url = this.href;
            alert(url)
            $.ajax({
                async:true,
                url:url,
                dataType:"script",
                data:{photo_password:<%= @photo_pwd%>},
               
                success:function(){
                    // alert(1);
                },error:function(){
                    // alert("error");
                }
            });
            /* alert(this.href); */
            return false;
        });
    });
    <% end %>
</script>

<div class="photo_box" id="users_list">
  <ul>
    <% @photos.each_with_index do |photo,index| %>
      <li>
        <a href="/photos/<%= photo.id %>#ad-image-<%=index+User::PER_PAGE_PHOTO*(@page.to_i-1)%>">
          <div class="photo_name">
            <img alt="图片丢失" src="<%="/uploads/#{photo.user_id}/#{photo.small_photo_name}"%>"onload="if(this.width>this.height){ if(this.width<160)this.width=160; }else{if(this.height<160) this.height=160;}"/>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
   <%= will_paginate @photos,:class=>"pageTurn",:previous_label=>"上一页",:next_label=>"下一页" %>
</div>