<!DOCTYPE html>
<html>
<head>
  <title>PhotoAlum</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


  <meta charset="utf-8"/>
    <title>流云后台</title>
    <link href="/assets/user.css" rel="stylesheet" type="text/css"/>
    <script src="/assets/jQuery-v1.9.0.js"></script>
    <script src="/assets/user.js"></script>
    <script src="/assets/My97DatePicker/WdatePicker.js"></script>
    <%= javascript_include_tag "left_1" %>
    <!--[if IE 6]>
    <script src="js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      DD_belatedPNG.fix('*');
    </script>
    <![endif]-->
</head>
<body>

<%= yield %>

</body>
</html>
